!--
Este é o arquivo
./views/pages/perguntas/edit.ejs
-->
<center>
<h1>Editar Pessoa</h1>
<form action="/perguntas/save" method="POST">
  <input type="hidden" name="id"
    value="<%= perguntas.id %>"/>
  <input type="text" name="perguntas"
    placeholder="Informe a pergunta"
    value="<%= perguntas.perguntas %>" />
  <br/>
  <input type="text" name="alternativaA"
    placeholder="alterntiva A"
    value="<%= perguntas.alternativaA %>"/>
  <br/>
  <input type="text" name="alternativaB"
    placeholder="alterntiva B"
    value="<%= perguntas.alternativaB %>"/>
  <br/>
  <input type="text" name="alternativaC"
    placeholder="alterntiva C"
    value="<%= perguntas.alternativaC %>"/>
  <br/>
  <input type="text" name="alternativaD"
    placeholder="alterntiva D"
    value="<%= perguntas.alternativaD %>"/>
  <br/>
  <input type="text" name="resposta"
    placeholder="resposta"
    value="<%= perguntas.resposta %>"/>
  <br/>
  
  <input type="submit" value="Salvar"/>
</form>
<center>
