

  <div id="questionario" class="rolagem" >
<h1>Perguntas região Norte</h1>

  <% for (a = 0; a< perguntas.length; a++) { %>
   
    <p><%= a+1; %>.<%= perguntas[a].perguntas %>  </p>
    
    <p>A:<%= perguntas[a].alternativaA %> </p>
     
    <p>B:<%= perguntas[a].alternativaB %> </p>
     
    <p>C:<%= perguntas[a].alternativaC %> </p>
      
    <p>D:<%= perguntas[a].alternativaD %> </p>
      <br/><br/>
    
      
   
  
  <% } %>

 </div>

   
    
 