<!--
Este é o arquivo
./views/pages/pessoa/index.ejs
-->
<center>
<h1>Listagem de Pessoas</h1>
<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633">
  <tr>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Sexo</th>
    <th>Ação editar</th>
    <th>Ação remover</th>
  </tr>
  <% for (i = 0; i< pessoas.length; i++) { %>
  <tr>
    <td><%= pessoas[i].nome %> </td> 
    <td><%= pessoas[i].sobrenome %> </td>
    <td><%= pessoas[i].sexo %> </td>
    
    <td><a href="/pessoa/edit/<%= pessoas[i].id %>">Editar</a></td>
     
      <td><a href="/pessoa/delete/<%= pessoas[i].id %>" 
          onclick="return confirm('Deseja realmente excluir?')">
      Remover</a>
      
    </td>
  </tr>
  <% } %>
</table>
 <a href="/pessoa/new/">Inserir outra pessoa</a>
</center>